/* оформлення головної сторінки */

/* Header navigation design */
:root {
  --color-one--: #ffffff;
  --color-two--: #2196f3;
  --color-three--: #212121;
  --color-four--: #757575;
  --color-five--: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
.link-design {
  text-decoration: none;
}
.logo-link {
  text-decoration: none;
}

/*------------------------ HEADER DESIGN--------------------*/
.header-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}
.footer-logo-design,
.web-customazation {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--color-one--);
}
.web-customazation {
  color: var(--color-two--);
}
.header-logo-design {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #000000;
}

/* links design */

.link-design {
  color: var(--color-three--);
}
.link-design:hover,
.link-design:focus {
  color: var(--color-two--);
}
.mail-design {
  color: var(--color-four--);
}
.tel-design {
  color: var(--color-four--);
}
.mail-design:hover,
.mail-design:focus {
  color: var(--color-two--);
}
.tel-design:hover,
.tel-design:focus {
  color: var(--color-two--);
}

/*------------------------ HEROE SECTION DESIGN--------------------*/
.heroe-section-design {
  width: 1600px;
  height: 600px;
  left: -78px;
  top: 84px;
  background-color: #2f303a;
}

.h1title {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-one--);
}
.h1title-position {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 374px;
  top: 284px;
}
.button-design {
  font-family: inherit, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-one--);
  background-color: var(--color-two--);
  margin: 0 auto;
  display: block;
}

.btn-position {
  position: absolute;
  width: 216px;
  height: 50px;
  left: 614px;
  top: 434px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*------------------------ НАШІ ОСОБЛИВОСТІ--------------------*/
.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-prop-title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-three--);
}
.main-prop-text {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: var(--color-four--);
}
/*------------------------ ABOUT OUR ACTIVITY--------------------*/

.about-our-activity-title {
  font-family: inherit, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-three--);
}
/*------------------------ OUR TEAM--------------------*/
.our-team-section {
  background-color: var(--color-five--);
}
.our-team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-three--);
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 18;
  letter-spacing: 0.03em;
  color: var(--color-three--);
}
.team-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 18;
  letter-spacing: 0.03em;
  color: var(--color-four--);
}
/*------------------------ FOOTER--------------------*/
.footer-design {
  background-color: #2f303a;
}

.address-contact-info {
  font-family: inherit, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
}
.street-info {
  color: var(--color-one--);
  font-style: normal;
}
.footer-mail-design,
.footer-tel-design {
  font-family: inherit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-design {
  text-decoration: none;
}
.footer-mail-design:hover,
.footer-mail-design:focus {
  color: var(--color-two--);
}
.footer-tel-design:hover,
.footer-tel-design:focus {
  color: var(--color-two--);
}
.street-info:hover,
.street-info:focus {
  color: var(--color-two--);
}

/*------------------------ PORTFOLIO PAGE DESIGN--------------------*/
.current-link {
  color: var(--color-two--);
}
/*-------------------BUTTONS----------------------*/
.btn-design {
  width: 125px;
  height: 38px;
  left: 593px;
  top: 174px;
  background: var(--color-five--);
  border-radius: 4px;
}
.btn-color:hover,
.btn-color:focus {
  color: var(--color-one--);
  background-color: var(--color-two--);
}
/*------------------------ PROJECTS EXAMPLES--------------------*/

.project-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
  color: var(--color-four--);
}
