/* оформлення головної сторінки */

/* Header navigation design */
:root {
  --color-one--: #ffffff;
  --color-two--: #2196f3;
  --color-three--: #212121;
  --color-four--: #757575;
  --color-five--: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-three--);
  background-color: var(--color-one--);
}
ul {
  list-style: none;
}
.link-design {
  text-decoration: none;
}
.logo-link {
  text-decoration: none;
}

/*------------------------ HEADER DESIGN--------------------*/
.header-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.footer-logo-design,
.web-customazation {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-one--);
}

.header-logo-design {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-three--);
}

/* links design */

.link-design {
  color: var(--color-three--);
}
.web-customazation,
.link-design:hover,
.link-design:focus,
.mail-design:hover,
.mail-design:focus,
.tel-design:hover,
.tel-design:focus {
  color: var(--color-two--);
}
.mail-design,
.tel-design {
  color: var(--color-four--);
}

/*------------------------ HEROE SECTION DESIGN--------------------*/
.heroe-section-design {
  background-color: #2f303a;
}

.heroe-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-one--);
}

.heroe-button-design {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-one--);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;
}
.heroe-button-design:hover,
.heroe-button-design:focus {
  color: var(--color-one--);
}

/*------------------------ НАШІ ОСОБЛИВОСТІ--------------------*/
.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-prop-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.main-prop-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-four--);
}
/*------------------------ ABOUT OUR ACTIVITY--------------------*/

.about-our-activity-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/*------------------------ OUR TEAM--------------------*/
.our-team-section {
  background-color: var(--color-five--);
}
.our-team-item {
  background-color: white;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  color: var(--color-four--);
}
/*------------------------ FOOTER--------------------*/
.footer-design {
  background-color: #2f303a;
}

.address-contact-info {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
}
.street-info {
  color: var(--color-one--);
  font-style: normal;
}
.footer-mail-design,
.footer-tel-design {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-design {
  text-decoration: none;
}
.footer-mail-design:hover,
.footer-mail-design:focus,
.footer-tel-design:hover,
.footer-tel-design:focus,
.street-info:hover,
.street-info:focus {
  color: var(--color-two--);
}

/*------------------------ PORTFOLIO PAGE DESIGN--------------------*/
.current-link {
  color: var(--color-two--);
}
/*-------------------BUTTONS----------------------*/
.btn-design {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  background: var(--color-five--);
  cursor: pointer;
}
.btn-color:hover,
.btn-color:focus {
  color: var(--color-one--);
  background-color: var(--color-two--);
}
/*------------------------ PROJECTS EXAMPLES--------------------*/

.project-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-four--);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-three--);
}
a {
  text-decoration: none;
}
