/* оформлення головної сторінки */

/* Header navigation design */
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
.link-design {
  text-decoration: none;
}
.logo-link {
  text-decoration: none;
}

/*------------------------ HEADER DESIGN--------------------*/
.header-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}
.footer-logo-design,
.web-customazation {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.web-customazation {
  color: #2196f3;
}
.header-logo-design {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #000000;
}

/* links design */

.link-design {
  color: #212121;
}
.link-design:hover,
.link-design:focus {
  color: #2196f3;
}
.mail-design {
  color: #757575;
}
.tel-design {
  color: #757575;
}
.mail-design:hover,
.mail-design:focus {
  color: #2196f3;
}
.tel-design:hover,
.tel-design:focus {
  color: #2196f3;
}

/*------------------------ HEROE SECTION DESIGN--------------------*/
.heroe-section-design {
  background-color: #2f303a;
}
.h1title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-design {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  margin: 0 auto;
  display: block;
}
/*------------------------ НАШІ ОСОБЛИВОСТІ--------------------*/
.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.main-prop-item {
}
.main-prop-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.main-prop-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*------------------------ ABOUT OUR ACTIVITY--------------------*/
.about-our-activity {
}
.about-our-activity-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*------------------------ OUR TEAM--------------------*/
.our-team-section {
  background-color: #f5f4fa;
}
.our-team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-list {
}
.our-team-item {
}
.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 18;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 18;
  letter-spacing: 0.03em;
  color: #757575;
}
/*------------------------ FOOTER--------------------*/
.footer-design {
  background-color: #2f303a;
}
.address-design {
}
.address-design-list {
}
.address-design-item {
}
.address-contact-info {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
}
.street-info {
  color: #ffffff;
  font-style: normal;
}
.footer-mail-design,
.footer-tel-design {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-design {
  text-decoration: none;
}
